.reveal {
    font-size: 30px!important;
}

.reveal h1 {
    font-size: 2.0em!important;
}

.reveal h2 {
    font-size: 1.5em!important;
}

.reveal h3 {
    font-size: 1.5em!important;
}

.reveal pre code {
    max-height: 600px;
}

.math {
    color: #333;
    background: #f8f8f8
}